:root {
    --first-color: #FAFAFA;
    --second-color: #000000;
    --first-background: #000000;
    --second-background: #607D8B;
    --third-background: #CFD8DC;
}

h1 {
    font-size: 16px;
    color: ;
    font-family: ;
    font-weight: ;
}

h2 {
    font-size: ;
}